---
import RootLayout from 'components/layouts/RootLayout/RootLayout.astro'

import S from './_styles.module.css'
---

<RootLayout title="Live" description="TailwindCSS vs CSS Pure">
  <div class={S.container}>
  </div>
</RootLayout>
